body{
background-color:rgb(255, 184, 215);
}
header img{
    padding: 20px;
    padding-left: 320px;

}

header{
    padding: 40px;
    background-color: rgb(250, 140, 188);
    margin-bottom: 40px;
}

header .navbar{
display: flex;
gap: 40px;
}

main{
    padding: 2px;
    padding-left: 300px;
    padding-right: 300px;
}

.listagem-itens{
    display: flex; 
    flex-wrap:wrap ;
    gap: 25px;
    justify-content: center;
}

.cartao{
    background-color: rgb(248, 217, 205);
    border-radius: 15px;
    width: 190px;
    padding: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao .nome{
    text-align: center;
    padding: 8px;
    margin: 10px;
    max-height: 170px;
    width: 160px;
    max-width: 200px;
    overflow-y: hidden;
    border-radius: 10px;
    border: 1px solid #333333;
}

.cartao img{
    width: 80px;
    padding: 15px;
    padding-bottom: 30px;
    
}

li.cartao {
    justify-content: space-between;
    padding-bottom: 25px;
}

.cartao .bolos{
    padding-top: 60px;
    padding-bottom: 42px;
}

.precos{
    display: flex;
    gap: 10px;
    text-align: center;
}

.caros{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.bratos{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.caros .caro{
    background-color: rgb(250, 140, 188);
    padding: 10px;
    width: 80px;
    border-radius: 9px;
    
}

.bratos .barato{
    background-color: rgb(255, 184, 215);
    padding: 10px;
    width: 80px;
    border-radius: 9px;

}

.caros .grande{

    border-radius: 5px;
}

.bratos .pequeno{

    border-radius: 5px;
}

.caros .caro:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(255, 103, 169);
}

.bratos .barato:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(255, 162, 203);
}
